html, body {
    height: 100%;
}

.navbar-toggle {
    float: left;
    margin: 0;
}
.navmenu {
    z-index: 1;
    background: #4d4d4d;
}
.navmenu-default .navmenu-nav>li>a, .navbar-default .navbar-offcanvas .navmenu-nav>li>a{
    color: #ffffff;
    font-size: 120%;
}
.navmenu-default .navmenu-nav>li>a:hover, .navbar-default .navbar-offcanvas .navmenu-nav>li>a:hover{
    color: #CCCCCC;
}
.canvas {
    position: relative;
    left: 0;
    z-index: 2;
    min-height: 100%;
    padding: 0;
    background: #fff;
}

@media (min-width: 0) {
    .navbar-toggle {
        display: block; /* force showing the toggle */
    }
}

@media (min-width: 992px) {
    body {
        padding: 0;
    }
    .navbar {
        right: auto;
        background: none;
        border: none;
    }
    .canvas {
        padding: 0;
    }
}
